* {
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One', sans-serif !important;
    overflow-x: hidden;
}

/*Começo do código referente ao cabeçalho do site*/
.header {
    background-color: #121212;
    width: 100vw;
    height: 10vw;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}
html{
    scroll-behavior: smooth;
}


.header-p {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80vw;
    gap: 10px;

}

.logo-header {
    background-color: #D9D9D9;
    border-radius: 100%;
}

.logo-header,
.logo-header img {
    height: 8vw;
    width: 8vw;
}

/*links do cabeçalho*/

.links {
    height: 8vw;
}

.links ul {
    margin-top: 2vw;
    height: 4vw;
    list-style: none;
    display: flex;
    gap: 2vw;
    align-items: center;
    /* Centraliza verticalmente */
}

.links a {
    color: #ffffff;
    font-size: 1.5rem;
    text-decoration: none;
}

.links li>div {
    margin: 0 auto;
    background-color: #ffffff;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    transition: 0.3s;
}

.links li:hover>div {
    width: 100%;
}


/*fim da barras do link*/
/*Fim dos links do cabeçalho*/

/*Começo da responsividade do cabeçalho*/
/*Tablet 1024px a 600px*/
@media (max-width:1024px) and (min-width:600px) {
    .links a {
        font-size: 4vw;
    }
}

/*Fim do tablet*/
/*Celular 600px abaixo*/
@media (max-width:600px) {
    .links a {
        font-size: 4vw;
    }
}

/*Fim do celular*/
/*Fim da responsividade do cabeçalho*/

/*Fim do código referente ao cabeçalho do site*/

/*Começo do código referente ao slider principal do site*/
.carousel {
    width: 100vw;


}

.carousel img {
    max-height: 80vh;
}

.seta-p {
    background-color: #ffffffb4;
    height: 8vw;
    width: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

.seta-p img {
    height: 5vw;
}

/*Começo da responsividade do slider*/

/*Tablet de 1024px a 600px */
@media (max-width:1024px) and (min-width:600px) {
    .seta-p {
        width: 10vw;
        height: 10vw;
    }


}

/*Fim do tablet*/

/*Fim da responsividade do slider*/

/*Fim do código referente ao cabeçalho principal do site*/


/*Começo do código referente ao sobre nós*/
/*Começo do titulo*/
.sobre-nos {
    padding-top: 5vh;
    width: 100vw;
    background-color: #D9D9D9;

    color: black;

    padding-bottom: 2vw;
}

.titulo {
    margin: 0 auto;
    width: 25vw;
    margin-bottom: 2vw;

}



.t1 {
    font-size: 3vw;
}

.t2 {
    text-align: left;
    font-size: 7vw;

}

.t2 span:last-of-type {
    color: yellow;
    background-color: #000000;
    padding: 10px 5px;

}

/*Fim do titulo*/

/*Começo da segunda parte*/
.sobre-nos-p {
    width: 70vw;
    gap: 5vw;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.academia {
    width: 50vw;
    background-color: #222222;
    color: #ffffff;
    padding: 30px;


    border-radius: 10px;
}

.academia span {
    color: yellow;
    font-size: 5vw;
}

.academia p {
    font-size: 1.6vw;
}


.sobre-nos-p .carousel {
    width: 70vw;
    height: 40vh;
    display: flex;
    align-items: center;


}

.sobre-nos-p .carousel img[src="imagens/seta.svg"] {
    width: 3vw;
    height: 3vw;
    background-color: #ffffff;
    border-radius: 100%;
}


/*Fim da segunda parte*/
/*Começo da responsividade do Tablet de 1024px a 600px*/
@media (max-width:1024px) and (min-width:600px) {

    .sobre-nos {
        height: auto;
    }

    .sobre-nos-p {
        display: block;
    }

    .academia {
        margin: 50px auto;
        margin-bottom: 100px;
        width: 100%;
    }

    .academia span {
        font-size: 3rem;

    }

    .sobre-nos-p .carousel {
        height: auto;
    }

    .titulo {
        width: 100%;
        text-align: center;
    }

    .academia p {
        text-align: justify;
        font-size: 1.3rem;
    }

    .t1  p {
        font-size: 6vw;
    }

    .t2 span {
        font-size: 13vw;

    }

    .t2 {
        width: 50%;
        margin: 0 auto !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo-bene span{
        font-size: 6vw;
    }

    .titulo-bene h1{
        font-size: 13vw;
    }
}

/*Fim da responsividade do Tablet*/

/*Começo da responsividade do celular*/
@media (max-width:600px) {
    .sobre-nos-p {
        display: block;
    }

    .titulo {
        width: 100%;
        text-align: center;
    }

    .t1 {
        font-size: 6vw;
    }

    .t2 {
        text-align: center;
        font-size: 15vw;
    }

    .academia {
        width: 100%;
        margin: 0 auto;
        padding: 5vw;

    }

    .academia span {
        font-size: 6vw;
    }

    .academia p {
        font-size: 4vw;
    }

    .sobre-nos-p .carousel img[src="imagens/seta.svg"] {
        width: 10vw;
        height: 10vw;
    }




}

/*Fim da responsividade do celular*/




/*Fim do código referente ao sobre nós*/


/*Começo do código referente aos serviços*/


/*Começo do titulo dos serviços*/
.titulo-servicos {
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}

.titulo-servicos span {
    font-size: 7rem;
    color: #ffffff;
    text-align: center;
}

.titulo-servicos>div {
    width: 15vw;
    height: 1vw;
    border-radius: 10px;
    background-color: yellow;
    margin: 0 auto;
}

/*Fim do titulo dos serviços*/
.servicos {
    background-color: #222222;
    width: 100vw;
}

/*Começo do código referente ao slider*/
.cards {
    display: flex;
    width: 100vw;

}

.card {
    min-width: 20vw;

    margin: 20px 1vw;
    background-color: #222222;
    color: #ffffff;
    border: none;
}

.card span {
    font-size: 3vw;
    text-align: center;
}

.card p {
    text-align: center;
    width: 80%;
    font-size: 2.1vw;
    margin: 0 auto;
}

.card img {
    width: 90%;
    max-height: 20vw;
    min-height: 20vw;
    margin: 0 auto;
    border-radius: 10px;
    border: solid yellow 2px;
}

/*Começo da responsividade do tablet*/
@media (max-width:1024px) {

    .cards[id="rolar"] {
        gap: 0;
        display: block;
    }

.titulo-servicos{
    font-size: 13vw;
}
    .card {
        min-width: 40vw !important;

        margin: 8vw 3vw;
    }

    .card img{
        width: 70vw;
        height: 40vw;
        min-height: 40vw;
    }

    .card span {
        font-size: 12vw !important;
    }


    .card p {
        font-size: 5vw;
    }

    .titulo-servicos span {
        font-size: 13vw;
    }

    .card-depoimento{
        min-width: 80vw !important;
        height: auto !important;

    }

    .card-depoimento img{
        width: 40vw !important;
        height: 40vw !important;
    }
}





@media (max-width:600px) {
    .card {
        min-width: 80vw !important;
        margin: 0 3vw;
    }



    .card img {

height: 200px !important;  
min-height: 200px !important;
max-height: 200px !important;
  }

  
}

@media (max-width:1024px) {
   .cards-depoimentos{
    display: block !important   ;
   } 
   .card-depoimento{
    margin: 10vw auto !important;
    
   }

   .card-depoimento p{
    font-size: 5vw !important;
   }

   .card-depoimento span{
    font-size: 8vw !important;
   }
}

/*Fim da responsividade do tablet*/
/*Fim do código referente ao slider*/

/*Fim do código referente aos serviços*/



/*Começo do código referente aos depoimentos*/
.depoimentos {
    width: 100vw;
    background-color: #D9D9D9;

}

.depoimentos-p {
    width: 100%;
    padding: 2vw 0px;
}

/*Começo do código do titulo*/

.titulo-dep {
    margin: 0 auto;
    width: 30vw;
}

.titulo-dep span:first-of-type,
.titulo-dep span:last-of-type {
    font-size: 3vw;
}

.titulo-dep span:nth-of-type(2) {
    font-size: 7vw;
}

.barra-depoimentos {
    background-color: rgb(255, 255, 0);
    width: 100%;
    border-radius: 10px;
    height: 2vw;
}

/*Fim do código do titulo*/
/*Começo do slider dos depoimentos*/


/*Fim do slider dos depoimentos*/

.cards-depoimentos {
    width: 100vw;
    display: flex;

}

.card-depoimento {
    min-width: 30vw;
    max-width: 30.1vw;
    margin: 0 2vw;

    background-color: #121212;
    border-radius: 10px;
    color: #ffffff;
}

.card-depoimento>img {
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    display: block;
    /* Certificar-se de que a imagem é tratada como um bloco */
    margin: 15px auto;
}


.card-depoimento span {
    display: block;

    background-color: yellow;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #000000;
    font-size: 3vw;
    border-radius: 10px;
}

.card-depoimento p {
    font-size: 1.5vw;
    margin: 20px;
    text-align: center;
}



/*Começo da responsividade do tablet*/
@media (max-width:1024px) {
    .card-depoimento {
        min-width: 40vw;
        max-width: 40.1vw;
    }

    .card-depoimento span {
        font-size: 4vw;
    }

    .card-depoimento p {
        font-size: 2.5vw;
    }

    .titulo-dep{
        width: 55vw;
    }

    .titulo-dep span:first-of-type,
.titulo-dep span:last-of-type {
    font-size: 6vw;
}

.titulo-dep span:nth-of-type(2) {
    font-size: 13vw;
}
}

/*Fim da responsividade do tablet*/

/*Começo da reponsividade do celular*/
@media (max-width:600px) {

    .titulo-dep span:first-of-type,
    .titulo-dep span:last-of-type {
        font-size: 6vw;
    }

    .titulo-dep span:nth-of-type(2) {
        font-size: 10vw;
    }
    .titulo-dep{
        width: 45vw;
    }

    .card-depoimento {
        min-width: 80vw;
        max-width: 80.1vw;
    }

    .card-depoimento span {
        font-size: 8vw;
    }

    .card-depoimento img {
        width: 40vw;
        height: 40vw;
    }

    .card-depoimento p {
        font-size: 4vw;
    }

}

/*Fim da responsividade do celular*/
/*Fim do código referente aos depoimentos*/





/*Começo do código referente aos beneficios*/
.beneficios{
    width: 100vw;
    background-color: #D9D9D9;
}

.beneficios-p{
    width: 100%;
}

.beneficios-container{
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.beneficios-container> img{
    width: 40vw;
    border-radius: 20px;
    border: solid black 3px;
}
/*Começo do titulo*/

.titulo-bene{
    width: 25vw;
    margin: 0 auto;
}
.titulo-bene span{
    font-size: 3vw;
}

.titulo-bene h1{
    background-color: yellow;
    color: black;
    font-size: 7vw; 


    padding: 0 .2vw;
    border-radius: 10px;
}

/*Começo da responsividade do titulo*/
@media (max-width:1024px) {
    .titulo-bene{
        width: 45vw;
    }
    .titulo-bene span{
        font-size: 6vw;
    }
    .titulo-bene h1{
        font-size: 13vw;
        text-align: center;
    }



    .beneficios-container{
        display: block;
    }
.beneficios-container li{
    gap: 1vw;
}
    .beneficios-container > ul{
        width: 40vw;
        margin:  0 auto;
    }

    .beneficios-container > img{
        margin: 10vw auto !important;
        display: block;
        width: 80vw;
    }
}
/*Fim da responsividade do titulo*/

/*Fim do titulo*/

/*Começo do container*/

.beneficios-container li{
    display: flex;

    align-items: center;

    margin: 20px 0;


}
.beneficios-container h1{
        font-size: 4vw;

}

.beneficios-container li img{
    width: 8vw;
}

/*Imagem do container*/

.bene-img{
    border-radius: 10px;
border: black solid 3px;
}
/*Fim do container*/


@media (max-width:600px) {
    .beneficios-container{
        display: block ;
    }

    .beneficios-container ul {
        width: 65vw;
        margin: 0 auto;
        display: block;
    }   

    .beneficios-container li{
        width: 100%;
        justify-content: left;
    }

    .beneficios-container ul li h1{
        font-size: 7vw;
    }

    .beneficios-container > img{
        width: 80vw;
        margin: 0 auto;

        display: block;
    }
}
/*Fim do código referente aos beneficios*/

/*Começo do código referente aos planos*/

.precos , .precos-p{
    width: 100vw;

}

/*Começo do titulo dos planos*/

.titulo-planos{
    margin-top: 10vw;
    width: 100%;
    color: #121212;
    text-align: center;
    font-size: 7vw;
}

.titulo-planos h1{
    font-size: 8vw;
}
.titulo-planos .barra{
    height: 1vw;
    width: 25%;
    background-color: yellow;
    border-radius: 10px;

    margin: 0 auto;
}

/*Preços de mensasalidade unica*/
.mensal{
    width: 100%;
}



/*fim os preços de mensalidade unica*/



@media (max-width:1024px) {

    .titulo-planos h1{
        font-size: 13vw;
    }

    .titulo-planos .barra{
        width: 40%;
        height: 2vw;
    }
}
/*Fim dos titulos dos planos*/

/*Planos mensais*/
.plano{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 4vw;
    margin: 10vw auto;


}
.funcional{
    width: 25vw;
    background-color: #121212;
    overflow: hidden;
    border-radius: 20px;
}

.funcional img{
    width: 30%;
    filter: invert(1);
    opacity: 80%;

    margin: 0 auto;
    display: block;
    width: 50%;
}

.musculação{
    width: 30vw;
}

.icons3{
    display: flex;
    align-items: end;
}

.icons3 img{
width: 20%;
height: 100%;

}

.icons3 img:nth-of-type(2){
    width: 10vw !important;
}

.funcional h1{
    font-size: 3.5vw;
    text-align: center;
    color:#ffffff
}

.funcional h2{
    font-size: 2.5vw;
    color: rgb(177, 177, 0);
    text-align: center;
}

.funcional span{
    font-size: 4vw;
    text-align: center;
    display: block;
    color: #ffffff;

}
.funcional p{
    font-size: 1.5vw;
    text-align: center;
    color: #D9D9D9;
    
}

.funcional a{
    width: 80%;
    margin: 2vw auto;
    display: block;
    height: 3vw;
    border-radius: 30px;
    border: none;
    background-color: green;
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
}
.ocultar{
    display: none;
}

.plano-0{
    width: 100%;
    display: none;
}


.plano div:nth-of-type(2) a{
    animation-name: pulsar;
animation-duration: 1.5s;
animation-iteration-count: infinite;
}

@media (max-width:1024px) {
    .plano div:nth-of-type(2){
        display: none !important;
    }

    .plano-0{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.plano-0 .funcional{
    width: 350px;
}

.plano .funcional{
    width: 40vw;
}

.plano .funcional h1{
    font-size: 6vw;
}
.plano .funcional h2{
font-size: 4vw;
}
.plano .funcional span{
    font-size: 6vw ;
}

.plano .funcional a{
font-size: 5vw;
height: auto;
}
.plano-0 .funcional img:nth-of-type(2){
width: 30% !important;

}

.plano-0 .funcional a{
    font-size: 4vw;
    height: auto;
}
.plano-0 .funcional span{
    font-size: 6vw;
}
.plano-0 .funcional h2{
    font-size: 4vw;
}
.plano-0 h1{
    font-size: 6vw;
}

.plano-0 p{
    font-size: 3vw;
}

.plano-0 .funcional a{
    animation-name: pulsar;
animation-duration: 1.5s;
animation-iteration-count: infinite;

}

}


@media (max-width:600px) {
    .plano-0 .funcional{
        width: 80vw
    }
    
    .plano .funcional{
        width: 60vw;
    }
    
    .plano .funcional h1{
        font-size: 10vw;
    }
    .plano .funcional h2{
    font-size: 7vw ;
    }
    .plano .funcional span{
        font-size: 10vw ;
    }
    
    .plano .funcional a{
    font-size: 8vw;
    height: auto;
    padding: 0 4vw;
    }
    .plano-0 .funcional img:nth-of-type(2){
    width: 30% !important;
    
    }
    
    .plano-0 .funcional a{
        font-size: 8vw;
        height: auto;

        animation-name: pulsar;
animation-duration: 1.5s;
animation-iteration-count: infinite;
    }
    .plano-0 .funcional span{
        font-size: 13vw;
    }
    .plano-0 .funcional h2{
        font-size: 6vw;
    }
    .plano-0 h1{
        font-size: 10vw;
    }
    
    .plano-0 p{
        font-size: 6vw;
    }

    .plano-0 .funcional a{
        animation-name: pulsar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    }
    
}



/*Fim dos planos mensais*/
/*Começo do plano trimestral*/
.trimestral{
    width: 100vw;
}

.plano-1{
    width: 60vw;
    background-color: #121212;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;


    border-radius: 20px;
}

.plano-1 h1{
    font-size: 6vw;
}

.plano-1 p{
    font-size: 2vw;
}


.plano-1 imgs{
    display: flex;
}

.imgs img{
    width: 20%;
    filter: invert(10);
    opacity: 80%;
}
.imgs img:nth-of-type(2){
    width: 25%;
}

.plano-1 span{
    font-size: 3.5vw;
    color: yellow;
}

.plano-1 h2{
    font-size: 8vw;
}

.plano-1 a{
    width: 80%;
    margin: 2vw auto;
    display: block;
    border-radius: 30px;
    border: none;
    background-color: green;
    color: #ffffff;
    font-size: 4vw;
    text-align: center;
    text-decoration: none;

animation-name: pulsar;
animation-duration: 1.5s;
animation-iteration-count: infinite;
    }
@media (max-width:1024px) {
    
   
.plano-1{
    width: 90vw !important;
}
.plano-0{
    margin-bottom: 10vw;
}

.plano-1 h1{
    font-size: 13vw;
}

.plano-1 p{
    font-size:4vw;
}


.plano-1 imgs{
    display: flex;
}

.imgs img{
    width: 25%;
    filter: invert(10);
    opacity: 80%;
}
.imgs img:nth-of-type(2){
    width: 30%;
}

.plano-1 span{
    font-size: 8vw;
    color: yellow;
}

.plano-1 h2{
    font-size: 13vw;
}

.plano-1 a{
    font-size: 13vw;
    margin-bottom: 10vw;
}

}

@keyframes pulsar {
    0%{
scale: 1;
    }
    50%{
        scale: 1.1;
    }

    100%{
        scale: 1;
    }
}


/*Fim do plano trimestral*/
/*Fim do código referente aos planos*/


/*Começo do código referente ao contato*/
.contato{
    width: 100vw;

    height: auto;
    overflow-x: hidden;

}
.contato-p{
    width: 100%;
    background-color: #121212;
    color: #ffffff;
    height: auto;
    overflow-x: hidden;
}
/*Começo do titulo*/
.titulo-contato{
    width: 25%;
    margin: 0 auto;
    text-align: center;

}
.titulo-contato h1{
        font-size: 8vw;

}

.titulo-contato > div{
    width: 100%;
    border-radius: 10px;
    height: 15px;
    background-color: yellow;
    margin: 0 auto;
}


/*Fim do titulo*/

/*Icones*/
.icons{
    width: 50%;
    margin: 10vw auto;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.icons img{
    filter: invert(10);
    width: 10vw;
}

.rua h1{
    text-align: center;

}
.rua{
    margin-bottom: 10vw;
}

@media (max-width:600px) {
    .icons img{
        width: 25vw;
    }

    .icons{
        width: 100%;
    }

    .contato, .contato-p{
        height: 60vh;
        overflow-y: hidden;
        
    }
    .contato-p{
        padding-top: 25%;
    }
}


@media (max-width) {
    
}

/*Fim do código referente ao contato*/

/*Começo da marca registrada de mateus pereira*/
.mateus{
    
    width: 100vw;
    height: 5vw;
    background-color: #000000;
    color: #ffffff;


   

}
.mateus img{
    height: 5vw;
}

.mateus a{
    color: #ffffff;
    text-decoration: none; display: flex;
    align-items: center;
}

@media (max-width:600px) {
    
    .mateus{
        height: 10vw;
    }
    .mateus a{
        height: 10vw;

    }
    .mateus a img{
        height: 10vw;
    }
}
